{% extends 'base.html' %}

{% block title1 %}
    {{ title }}
{% endblock %}

{% block title2 %}
    {{ title }}
{% endblock %}

{% block sitebar %}
    {% include 'inc/_sitebar.html' %}
{% endblock %}

{% block content %}
    {% for item_news in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория:
            <a href="{{ item_news.category.get_absolute_url }}" class="text-decoration-none">
                {{ item_news.category }}
            </a>
        </div>
        <div class="row g-0">
            <div class="col-md-6">
                {% if item_news.photo %}
                    <img src="{{ item_news.photo.url }}" alt="" width="350" class="mr-3">
                {% else %}
                    <img src="https://picsum.photos/id/1060/536/354?blur=2" alt="" width="350" class="mr-3">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ item_news.title }}</h5>
                    <p class="card-text">{{ item_news.content|truncatewords:20 }}</p>
                    <a href="{{ item_news.get_absolute_url }}" class="btn btn-primary">Читать...</a>
                </div>
            </div>
            <div class="card-footer text-muted text-end">
                {{ item_news.created_at|date:"Y.m.d H:i" }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
