<div class="list-group">
    {{ arg1 }} {{ arg2 }}
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action" aria-current="true">
        Все категории
    </a>
    {% for item_category in categories %}
        {% if item_category.pk == category.pk %}
        <a href="{{ item_category.get_absolute_url }}" class="list-group-item list-group-item-action active"
           aria-current="true">
            {{ item_category }}
        </a>
        {% else %}
        <a href="{{ item_category.get_absolute_url }}" class="list-group-item list-group-item-action"
           aria-current="true">
            {{ item_category }}
        </a>
        {% endif %}
    {% endfor %}
</div>